* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #181818;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #202020;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links {
    list-style: none;
    
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.about .content {
    max-width: 600px;
}

.about h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.social-links a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.social-links a:hover {
    color: #bbb;
}

.about .image img {
    width: 500px;
    height: 500px;
    border-radius: 8px;
   
}
