.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}

main {
    padding: 40px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}


.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.movie-card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.movie-card img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-info {
    padding: 15px;
    text-align: center;
}

.movie-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.movie-info p {
    font-size: 14px;
    color: #bbb;
}


.movie-card:hover {
    transform: scale(1.05);
}
